@using EasyWoWMacro.Web.Client.Components.Modals
@rendermode InteractiveWebAssembly

@if (RendererInfo.IsInteractive)
{
    <div class="macro-line @(IsOver ? "drag-over" : "")"
     @ondragover:preventDefault
     @ondragenter:preventDefault
     @ondragover="HandleDragOver"
     @ondragleave="HandleDragLeave"
     @ondrop="HandleDrop">
    <div class="line-content">
        @if (Blocks.Count == 0)
        {
            <div class="drop-zone-placeholder">
                <span>Drop building blocks here</span>
            </div>
        }
        else
        {
            @foreach (var block in Blocks)
            {
                <div class="block-container">
                    <BuildingBlock BlockType="@block.Type" OnConfigureClick="@(() => OpenBlockModal(block))">
                        <span>@block.DisplayText</span>
                    </BuildingBlock>
                    <button class="delete-block" @onclick="() => DeleteBlock(block)" title="Delete block">×</button>
                </div>
            }
        }
    </div>
    <button class="delete-line" @onclick="OnDeleteLine">×</button>
</div>

@if (_activeModalType == "Command")
{
    <CommandConfigurationModal
        IsVisible="true"
        Block="@_selectedBlock"
        OnSave="HandleBlockConfigSave"
        OnClose="CloseModal" />
}

@if (_activeModalType == "Conditional")
{
    <ConditionalConfigurationModal
        IsVisible="true"
        Block="@_selectedBlock"
        OnSave="HandleBlockConfigSave"
        OnClose="CloseModal" />
}

@if (_activeModalType == "Directive")
{
    <DirectiveConfigurationModal
        IsVisible="true"
        Block="@_selectedBlock"
        OnSave="HandleBlockConfigSave"
        OnClose="CloseModal" />
}

@if (_activeModalType == "Argument")
{
    <ArgumentConfigurationModal
        IsVisible="true"
        Block="@_selectedBlock"
        OnSave="HandleBlockConfigSave"
        OnClose="CloseModal" />
}
}
else
{
    <div class="macro-line skeleton">
        <div class="line-content">
            <div class="skeleton-line"></div>
        </div>
    </div>
}
