@page "/"

<FluentStack Style="padding-top: 1rem" Orientation="Orientation.Vertical" VerticalGap="10">
    <FluentLabel Typo="Typography.H2">
        Macro syntax check
    </FluentLabel>
    <p>
        Copy and paste any macro you have in game to this editor and check if it's a valid syntax. Use the options below to customize the macro and see the result in real time.
    </p>
</FluentStack>

<FluentMessageBarProvider Section="macro-syntax-check" MaxMessageCount="1"/>
<div class="macro-container">
    <FluentTextArea Value="@MacroText"
                    ValueChanged="@OnMacroTextChanged"
                    Placeholder="Type your macro here..."
                    Maxlength="255"
                    Class="macro-textarea"
                    Style="width: 100%; height: 100%;"/>
</div>

<FluentStack HorizontalAlignment="HorizontalAlignment.Center" HorizontalGap="5">
    <p>Current macro size: @MacroText!.Length</p>
    <FluentButton OnClick="TrimMacro" Appearance="Appearance.Outline" IconStart="@(new Icons.Regular.Size20.Crop())">Trim</FluentButton>
    <FluentSpacer/>
    <FluentButton OnClick="CopyToClipboard" Appearance="Appearance.Outline" IconStart="@(new Icons.Regular.Size20.Copy())">Copy</FluentButton>
    <FluentButton OnClick="ValidateMacro" Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.ShieldCheckmark())">Validate</FluentButton>
</FluentStack>

    
